.NavBarComplete{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 6.5rem;
        background: rgba(0, 0, 0, 0.25);
        background-color: rgba(49, 13, 13, 1);
        font: 12px Arial, Helvetica;
}

.button {
    margin: 0.30rem;
    font-size: 200%;
}

.link1{
    text-decoration:none;
    margin: 0.30rem;
    font-size: 105%;
    color: bisque;
}

.link1:hover {
    transform: scale(1.025, 1.025);
    filter: drop-shadow(0 0 12px white);
}

.logo {
    border-radius: 2rem;
    margin-left: 3rem;
    }
    .logo:hover {
    transform: scale(1.025, 1.025);
    filter: drop-shadow(0 0 12px white);
    };



    